<span class="dropdown">VERSIONS
	<div class="dropdown-content"> 
		<p><b>Branches</b></p>
		{% assign branches_rev = site.data.branches | reverse %}
		{% for branch in branches_rev %}
			<p><a href="{{ site.baseurl }}/branches/{{ branch.name }}">{{ branch.name }}</a></p>
		{% endfor %}
		{% if site.data.releases.size > 0 %}
			<p><b>Releases</b></p>
			{% assign releases_rev = site.data.releases | reverse %}
			{% for release in releases_rev %}
				<p><a href="{{ site.baseurl }}/releases/{{ release.name }}">{{ release.name }}</a></p>
			{% endfor %}
		{% else %}
			<p><em>No releases yet</em></p>
		{% endif %}
	</div>
</span>
